<!DOCTYPE html>
<html>
<head>
    <title>Vulcan C2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <ul>
            {% for item in sidebar_data %}
            <li><a href="{{ item.url }}">{{ item.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
